name: Update VOD Data

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  generate-json:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      # 1. Checkout the Public Playlist Repo (Where files will be saved)
      - name: Checkout Playlist Repo
        uses: actions/checkout@v4
        with:
          path: playlist

      # 2. Checkout the Private Script Repo (Using your PAT)
      - name: Checkout Private Scripts Repo
        uses: actions/checkout@v4
        with:
          repository: wagacheatcodes/Beta
          token: ${{ secrets.MY_PAT }}
          path: private_scripts

      - name: Install Dependencies
        run: pip install requests

      # 3. Run Movies Generator
      # We run inside 'playlist' folder, but call the script from 'private_scripts'
      - name: Run Movies Generator
        working-directory: playlist
        run: python ../private_scripts/scripts/movies_runner.py

      # 4. Run Series Generator
      - name: Run Series Generator
        working-directory: playlist
        run: python ../private_scripts/scripts/series_runner.py

      # 5. Commit and Push (Only affects the Playlist repo)
      - name: Commit and Push Changes
        working-directory: playlist
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
          # Stage the dist folder found in the playlist directory
          git add dist/
          
          if [ -n "$(git status --porcelain)" ]; then
            echo "Changes detected. Committing..."
            git commit -m "Update VOD Data [skip ci]"
            git pull --rebase origin main
            git push origin main
          else
            echo "No changes detected."
          fi
